html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Quantico', sans-serif;
  color: #2E1720;
}

.body-container {
  width: 1145px;
  margin: auto auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 45px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 26px;
  color: #2E1720;
  opacity: 0.6;
}

.header-subitem .active {
  color: #2E1720;
  opacity: 0;
}

.active {
  color: #2E1720;
  opacity: 1;
}

.header-singin {
  font-size: 18px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: #F10C6D;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.main__container {
  width: 115%;
}

.main__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px auto;
}

.main__content-item {
  position: relative;
}

.main__content-text {
  min-width: 50%;
  margin-top: 20%;
}

.main__content-text h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 70px;
  line-height: 130%;
  width: 90%;
}

.main__content-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #2E1720;
  opacity: 0.6;
  margin-top: 25px;
  margin-bottom: 40px;
  width: 80%;
}

.main__content-subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content-subitem span {
  font-size: 18px;
  line-height: 26px;
}

.get-collection {
  padding: 15px 30px;
  background: #F10C6D;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.svg {
  margin: auto 15px;
}

.play-btn {
  margin-right: 15px;
}

.watch {
  font-size: 18px;
  line-height: 26px;
}

.nft-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  float: right;
  margin: -15%;
  margin-left: -28%;
  padding: 15%;
  overflow: hidden;
}

.nft-card__backgraund-img {
  z-index: 0;
  margin-top: -10%;
  margin-right: -35%;
}

.nft-card__elipse-back {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45%;
  margin-left: -67%;
}

.nft-card__elipse-up {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -58.6%;
  margin-left: -68.3%;
}

.nft-card__all-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20%;
  margin-left: -135%;
}

.nft-card__all-card .nft-card-item1 {
  position: relative;
  -webkit-transform: rotate(-20.54deg);
          transform: rotate(-20.54deg);
  margin-right: -25%;
}

.nft-card__all-card .nft-card-item2 {
  position: relative;
  margin-top: -4%;
  margin-bottom: 4%;
  margin-right: -23%;
  -webkit-transform: rotate(-10.3deg);
          transform: rotate(-10.3deg);
}

.nft-card__all-card .nft-card-item3 {
  position: relative;
  margin-top: -8%;
  margin-bottom: 8%;
}

.nft-card__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #DCDCD6;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
          box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
  border-radius: 20px;
  padding: 5px;
}

.nft-card__item-border {
  background: #fff;
  border-radius: 20px;
}

.nft-card__main-img {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

.nft-card__footer {
  padding: 0 30px 35px 30px;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.nft-card__autor {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  position: relative;
  margin-top: -50%;
  margin-bottom: 10%;
}

.nft-card__autor-name-nickname {
  font-size: 14px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
}

.nft-card__autor-name-login {
  font-size: 10px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
  opacity: 0.7;
}

.nft-card__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-card__content-info-subitem-main {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #2E1720;
}

.nft-card__content-info-subitem-sub {
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 30px;
}

.nft-card__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #000000;
}

.footer__container {
  margin-bottom: 100px;
  width: 1145px;
}

.footer-content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content-text {
  width: 500px;
}

.footer-content-text h3 {
  font-size: 39px;
  line-height: 120%;
}

.footer-content-text p {
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 35px;
}

.footer-content-btn button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #2E1720;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-left: 20px;
}

.footer-content-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-card-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FAFAFA;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
          box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
  border-radius: 20px;
  border: #23434E26 1px;
  border-style: hidden;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-card-footer__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nft-card-footer__autor-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nft-card-footer__autor-icon {
  margin-right: 8px;
  margin-top: -7px;
}

.nft-card-footer__autor-name-nickname {
  font-size: 14px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
}

.nft-card-footer__autor-name-login {
  font-size: 10px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
  opacity: 0.6;
}

.nft-card-footer__autor-menu {
  font-size: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nft-card-footer__main-img {
  margin: 15px auto;
}

.nft-card-footer__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
}

.nft-card-footer__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.nft-card-footer__content-info-subitem-sub {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
  opacity: 0.6;
}

.nft-card-footer__content-info-subitem-main {
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2E1720;
}

#active {
  background-color: #fff;
}
