@import "_reset";
body {
	font-family: 'Quantico', sans-serif;
	color: #2E1720;
}

.body-container {
	
   width: 1145px;
	margin: auto auto;
}

header {
	display: flex;
	justify-content: space-between;
	height: 45px;
	margin-top: 30px;
}

.header-item {
display: flex;
height: 100%;
text-align: center;
align-items: center;

	
}

.header-subitem {
		display: flex;
		margin-right: 45px;
		height: 100%;
		align-items: center;
		font-size: 18px;
		line-height: 26px;
		color: #2E1720;
		opacity: 0.6;

	& .active {
		color: #2E1720;
		opacity: 0;
	}
		
	}
.active {
		color: #2E1720;
		opacity: 1;
	}
.header-singin {
	font-size: 18px;
	line-height: 120%;
	text-transform: capitalize;
	color: #FFFFFF;
	background-color: #F10C6D;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
}

.main {

	

		&__container {
			// padding-top: 190px;
			width: 115%;
					
		}

		&__content {
			position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 80px auto;	
		}

		&__content-item {
			position: relative;
			
		}

		&__content-text {
			min-width: 50%;
			margin-top: 20%;
    		// margin-right: 10%
			
			& h2 {
				font-style: italic;
				font-weight: bold;
				font-size: 70px;
				line-height: 130%;
				width: 90%;
			}

			& p {
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150%;
				color: #2E1720;
				opacity: 0.6;
				margin-top: 25px;
				margin-bottom: 40px;
				width: 80%;
			}
		}
		&__content-subitem {
			display: flex;
			align-items: center;
			& span {
				font-size: 18px;
				line-height: 26px;
			}
		}
}
.get-collection {
	padding: 15px 30px;
	background: #F10C6D;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	text-transform: capitalize;
	color: #FFFFFF;

}

.svg {
	margin: auto 15px;
}

.play-btn {
	margin-right: 15px;
	
}
.watch {
font-size: 18px;
line-height: 26px;
}

.nft-card {
	position: relative;
	display: flex;
	align-items: flex-start;
   float: right;
   margin: -15%;
	margin-left: -28%;
   padding: 15%;
   overflow: hidden;
	

		&__backgraund-img {
			z-index: 0;
			margin-top: -10%;
			margin-right: -35%;
			// padding-left: 10%;
		}
		
		&__elipse-back {
			position: relative;
			z-index: 0;
			display: flex;
			margin-top: 45%;
			margin-left: -67%;
		}

		&__elipse-up {
			position: relative;
			z-index: 1;
			display: flex;
			margin-top: -58.6%;
			margin-left: -68.3%;
		}



		&__all-card {
			position: relative;
			display: flex;
			margin-top: 20%;
			margin-left: -135%;
			
			
			
			& .nft-card-item1 {
				position: relative;
				transform: rotate(-20.54deg);
				margin-right: -25%;
			}

			& .nft-card-item2 {
				position: relative;
				margin-top: -4%;
				margin-bottom: 4%;
				margin-right: -23%;
				transform: rotate(-10.3deg);
			}
			
			& .nft-card-item3 {
				position: relative;
				margin-top: -8%;
				margin-bottom: 8%;
			}
		}

		&__item {
			display: inline-flex;
			flex-direction: column;
			background: #DCDCD6;
			box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
			border-radius: 20px;
			padding: 5px;
		}

		&__item-border{
			background: #fff;
			border-radius: 20px;
			
		}

		&__main-img {
			background-color: #fff;
			border-radius: 20px 20px 0 0;
		}

		&__footer {
			padding: 0 30px 35px 30px;
			position: relative;
			background-color: #fff;
			border-radius: 0 0 20px 20px;
		}

		&__autor {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 12px 24px;
			background: #FFFFFF;
			box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
			border-radius: 35px;
			position: relative;
			margin-top: -50%;
			margin-bottom: 10%;
		}

		&__autor-icon {
		}

		&__autor-name {
		}

		&__autor-name-nickname {
			font-size: 14px;
			line-height: 120%;
			text-transform: capitalize;
			color: #2E1720;
		}

		&__autor-name-login {
			font-size: 10px;
			line-height: 120%;
			text-transform: capitalize;
			color: #2E1720;
			opacity: 0.7;
		}

		&__content-info {
			display: flex;
			justify-content: space-between;
		}

		&__content-info-item {
		}

		&__content-info-subitem-main {
			font-weight: bold;
			font-size: 20px;
			line-height: 120%;
			color: #2E1720;
		}

		&__content-info-subitem-sub {
			font-size: 16px;
			line-height: 120%;
			text-transform: capitalize;
			color: #2E1720;
			opacity: 0.6;
			margin-top: 15px;
			margin-bottom: 30px;
		}

		&__name {
			font-weight: bold;
			font-size: 20px;
			line-height: 120%;
			text-transform: capitalize;
			color: #000000;
		}
}



.footer {

		&__container {
			margin-bottom: 100px;
			width: 1145px;
		}
}
.footer-content-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-content-text {
	width: 500px;

	& h3 {
		font-size: 39px;
		line-height: 120%;
	}

	& p {
		font-size: 18px;
		line-height: 150%;
		opacity: 0.6;
		margin-top: 15px;
		margin-bottom: 35px;
	}
}
.footer-content-btn button {
	width: 40px;
height: 40px;
opacity: 0.3;
background-color: #fff;
border: 1px solid #2E1720;
box-sizing: border-box;
border-radius: 3px;
margin-left: 20px;
}
.footer-content-slides {
	display: flex;
	justify-content: space-between;
	// padding-bottom: 80px;
}
.nft-card-footer {
		display: inline-flex;
		flex-direction: column;
		background: #FAFAFA;
		box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
		border-radius: 20px;
		border: #23434E26 1px;
		border-style: hidden;
		padding: 20px;
		justify-content: space-between;
		

		&__autor {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			&-autor {
				display: flex;
				align-items: flex-start;
			}
		}

		&__autor-icon {
			margin-right: 8px;
			margin-top: -7px;
			
		}

		&__autor-name {
		
		}

		&__autor-name-nickname {
			font-size: 14px;
			line-height: 120%;
			text-transform: capitalize;
			color: #2E1720;
		}

		&__autor-name-login {
			font-size: 10px;
			line-height: 120%;
			text-transform: capitalize;
			color: #2E1720;
			opacity: 0.6;
		}

		&__autor-menu {
			font-size: 20px;
			align-items: flex-start;
			
		}

		&__main-img {
			margin: 15px auto;
		}

		&__name {
			font-weight: bold;
			font-size: 18px;
			line-height: 120%;
			text-transform: capitalize;
			color: #2E1720;
		}

		&__content-info {
			display: flex;
			justify-content: space-between;
			margin-top: 15px;
		}

		&__content-info-item {
		}

		&__content-info-subitem-sub {
			margin-bottom: 7px;
			font-size: 16px;
				line-height: 120%;
				text-transform: capitalize;
				color: #2E1720;
				opacity: 0.6;
		}

		&__content-info-subitem-main {
			font-weight: bold;
			font-size: 14px;
			line-height: 120%;
			text-transform: capitalize;
			color: #2E1720;
		}
}

#active {
			background-color: #fff;
		}



