body {
background-color: #F5F7FA;
font-family: 'Montserrat', sans-serif;
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
}

.main-content-section {
display: flex;
flex-direction: column;
padding: 100px 90px;

}

    .about-me-profesion {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin: 0 0 20px 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    .my-name {
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        color: #000;
        margin: 0 0 25px 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .my-info { 
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin: 0 0 50px 0;
        width: 400px;
    }

    .main-title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #000;
        margin: 0 0 10px 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .title {
    margin: 45px 0 10px 0;
    }

    .Projects-info-b {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        padding: 0 0 0 16px;
        
    }
    .Projects-info {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin: 0 0 0 5px;

    }
    .Projects-info-s {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .project-sectoin {
        
        }
    .Work-experience {
        
        }
        .company {
            margin: 0 0 15px 0;
        }
        .company-name {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 0 0 10px 0;
        }
        .company-position {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #FB6D3A;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 0 0 10px 0;
        }
        .work-time {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #A8A8A8;            
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 0 0 10px 0;
        }


        .work-info {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #595959;
            padding: 0 0 0 16px;
        }
        .line-up {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    .Education-section {
        
        }
        .university {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #FB6D3A;
        }

        .study{ 
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
.sidebar-section {
background: #1E2939;
width: 370px;
padding-top: 40px;

}

    .Contact-section,
    .Tech-Skills-section,
    .Soft-Skills-section {
        margin: 50px 0 0 40px;
    }

    .sidebar-info {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #fff;
        margin-bottom: 10px;
    }

    .contact-type {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        margin-right: 5px;
    }

    .contact-info {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #fff 50%;
    }

    .skills-info {
        padding-left: 15px;
    }
    .skills-dot {
      color: #FB6D3A;  
    }
    .skills-list { 
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }
